<header class="header-library">
  <div class="container">
    <nav class="header-library-nav">
      <div class="header-library-nav__wrap">
        <a href=""><svg class="header-library-nav__logo">
          <use href="./image/icons.svg#film"></use>
        </svg>
        <a class="header-library-nav__text" href="./index.html">Filmoteka</a>
      </div>
      <ul class="header-library-nav__list">
        <li class="header-library-nav__item">
          <a class="header-library-nav__link" href="./index.html">HOME</a>
        </li>
        <li class="header-library-nav__item">
          <a class="header-library-nav__link current-page" href="./library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-library__btn-list">
      <li class="header-library__btn-item">
        <button class="header-library__button active_btn data-watched">
          WATCHED
        </button>
      </li>
      <li class="header-library__btn-item">
        <button class="header-library__button data-queue">QUEUE</button>
      </li>
    </ul>
    <div class="switcher-lib">
    <button class="switcher-theme-name">
      <svg
        class="theme-switch-icon"
        width="20px"
        height="20px"
        role="img"
        aria-label="Іконка сонця"
      >
        <use href="./image/symbol-defs.svg#sun"></use>
      </svg>
    </button>
    <label class="switch">
      <input type="checkbox" id="theme-switch" />
      <span class="slider round"></span>
    </label>
    <button class="switcher-theme-name">
      <svg
        class="theme-switch-icon"
        width="20px"
        height="20px"
        aria-label="Іконка місяця"
      >
        <use href="./image/symbol-defs.svg#moon"></use>
      </svg>
    </button>
  </div>
  </div>
</header>
