<div class="backdrop-footer is-hidden">
  <div class="modal-students">
    <button type="button" class="students-button__close">
      <svg class="modal-students__close-icon">
        <use href="./image/icons.svg#icon-close-black"></use>
      </svg>
    </button>
    <ul class="students-box__list">
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Andrii Melnuk.jpg"
              alt="Andrii Melnyk"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Andrew Melnyk</h2>
          <p class="students-info__text">Team Lead</p>
          <p class="students-info__about">Tech Support & Pagination</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/ammolder" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/karolina3.jpg"
              alt="Karolina Kovtun"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Karolina Kovtun</h2>
          <p class="students-info__text">Scrum Master</p>
          <p class="students-info__about">Theme switcher & Library</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/linluxx" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Andrii Beznosov.jpg"
              alt="Andrii Beznosov"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Andrii Beznosov</h2>
          <p class="students-info__text">Java Script Genius</p>
          <p class="students-info__about">Firebase & Film slider</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/AndriiBeznosov" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Yuliia.jpg"
              alt="Yuliia Bakalova"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Yuliia Bakalova</h2>
          <p class="students-info__text">Pagination Master</p>
          <p class="students-info__about">Pagination</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/Yuliia-Bakalova" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Vitalii Veshtobei.jpg"
              alt="Vitalii Veshtobei"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Vitalii Veshtobei</h2>
          <p class="students-info__text">Java Script Genius</p>
          <p class="students-info__about">Modal JS & Local Storage</p>
          <ul class="social">
            <li class="social__item">
              <a
                href="https://github.com/VitaliiVeshtobei"
                class="social__link"
              >
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Vova.jpg"
              alt="Volodymyr Tashak"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Volodymyr Tashak</h2>
          <p class="students-info__text">Developer</p>
          <p class="students-info__about">Film cards & Student`s modal</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/VolodymyrTashak" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Alina.jpg"
              alt="Alina Stratiichuk"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Alina Stratiichuk</h2>
          <p class="students-info__text">Developer</p>
          <p class="students-info__about">Modal</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/AlinaStratij" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Vlad.jpg"
              alt="Vladislav Salashchenko"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Vladislav Salashchenko</h2>
          <p class="students-info__text">Developer</p>
          <p class="students-info__about">Spinner</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/VladSalash" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Veronika Kovalenko.jpg"
              alt="Kovalenko Veronika"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Veronika Kovalenko</h2>
          <p class="students-info__text">Developer</p>
          <p class="students-info__about">Headers</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/VeRoNi4kAa" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="student-box__item">
        <div class="students-box__outside">
          <div class="students-box__inside">
            <img
              class="student-foto"
              src="./image/Aleksandr Katsinskiy.jpg"
              alt="Aleksandr Katsinskiy"
              width="100"
              height="100"
            />
          </div>
        </div>
        <div class="students-info">
          <h2 class="students-info__title">Aleksandr Katsinskiy</h2>
          <p class="students-info__text">Developer</p>
          <p class="students-info__about">Footer & Button to top</p>
          <ul class="social">
            <li class="social__item">
              <a href="https://github.com/Katsinskiy" class="social__link">
                <svg class="social__icon" width="30" height="30">
                  <use href="./image/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
