.card__list {
  display: grid;
  justify-items: center;

  @media screen and (min-width: 320px) and (max-width: $max-mob) {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tabley) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }
}

.card__item {
  border-radius: 5px;
  max-width: 100%;
  transition: var(--timing-function);
}

.card__item:hover,
.card__item:focus {
  border-radius: 5px;
  box-shadow: 2px 4px 22px 0px rgba(99, 87, 99, 0.57);
  transition: box-shadow 250ms var(--timing-function),
    scale 250ms var(--timing-function);
  transform: scale(1.01);
}

.card__img {
  border-radius: 5px 5px 0 0;
  height: 90%;
  // @media screen and (max-width: 479px) {
  //   height: 88%;
  // }
  // @media screen and (min-width: $mobile) and (max-width: $max-tabley) {
  //   height: 90%;
  // }
  // @media screen and (min-width: $desktop) {
  //   height: 90%;
  // }
}

.card__title {
  font-family: $base-font;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-text-color-dark);
  padding-left: 4px;
  // Special for Karolina
  @media screen and (max-width: $max-mob) {
    font-size: $font-paragraph;
    line-height: 1.16;
    margin-top: 10px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tabley) {
    font-size: $font-paragraph;
    line-height: 1.33;
    margin-top: 8px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 12px;
  }
}

.card__text {
  font-family: $base-font;
  font-weight: 500;
  color: var(--accent-text-color);
  text-transform: capitalize;

  @media screen and (max-width: $max-mob) {
    font-size: $font-paragraph;
    line-height: 1.16;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tabley) {
    font-size: $font-paragraph;
    line-height: 1.33;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
