html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container-main {
  flex: 1 1 auto;
  padding-top: 20px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }
}
.card__list {
  display: grid;
  justify-items: center;

  @media screen and (min-width: $mobile) and (max-width: $max-mob) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tabley) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }
}


.home__empty-img {
  margin-top: 10px;

  @media screen and (min-width: $mobile) and (max-width: $max-mob) {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tabley) {
    width: 70%;
    height: 70%;
  }

  @media screen and (min-width: $desktop) {
    height: 50%;
    width: 55%;
  }
}

.home__empty-wrap {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__empty-title {
  font-family: $base-font;
  margin-bottom: 10px;
  margin-top: 10px;
}

.home__empty-text {
  font-family: $base-font;
  color: #ff6b08;
  font-weight: 500;
  font-size: 18px;
}

.home__empty-text:not(:last-child) {
  margin-bottom: 10px;
}

.hidden-nothing {
  display: none;
}