.pagination-container {
  display: flex;
  justify-content: center;

  padding: 40px 0px;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  background-color: var(--secondary-bg-color);
  padding: 5px;
  border-radius: 5px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;

  color: var(--primary-text-color-dark);
  transition: box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    cursor: pointer;
    //    border: solid #ff6b08 3px;
    box-shadow: var(--btn-box-shadow);
  }
}

.arrow-left {
  background-image: url(../image/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    background-image: url(../image/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.arrow-right {
  color: transparent;
  background-image: url(../image/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    background-image: url(../image/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.pagination-btn.current {
  background-color: var(--btn-accent-color);
  color: var(--primary-text-color);
  box-shadow: var(--btn-box-shadow);
}

.pagination-btn.disabled {
  cursor: default;

  &:hover {
    box-shadow: none;
  }
}

.pagination-btn.disabled.arrow-left {
  background-color: var(--secondary-bg-color);
  background-image: url(../image/arrow-left-grey.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    border: none;
  }
}

.pagination-btn.disabled.arrow-right {
  background-color: var(--secondary-bg-color);
  background-image: url(../image/arrow-right-grey.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination-btn + .pagination-btn {
  margin-left: 5px;
}
